.leaflet-popup-close-button{
  color: rgba(255,255,255,0.8);
  z-index: 10;
}

.leaflet-popup-content-wrapper {
  background-size: contain;
  padding: 0;
  overflow: hidden
}
  .leaflet-popup-content-wrapper > .leaflet-popup-content {
    margin: 0;
  }

    .leaflet-popup-content .track-title {
      color: white;
    }

    .leaflet-popup-content .play-video {
      visibility: hidden;
      width: calc(100% + 2px);
      font-size: 160px;
      text-align: center;
      position: absolute;
      color: white;
    }
    .leaflet-popup-content:hover .play-video {
      cursor: pointer;
      visibility: visible;
      background: rgba(0, 0, 0, 0.4);
    }

.track-container {
  width: 200px;
  height: 200px;
  position: relative;
}
  .track-container img {
    width: 100%;
  }

  .track-container h4,
  .track-container h3 {
    background: rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 10px 5px;
    padding: 5px;
    position: absolute;
    width: 100%;
  }

  .track-container h3 {
    top: 0;
  }

  .track-container h4 {
    bottom: 0;
    font-weight: normal;
  }