body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.layout-left,
.layout-right {
  display: inline-block;
  height: 100vh;
  overflow-y: auto;
}

.layout-left {
  width: 50%;
}
.layout-right {
  width: 45%;
}

.track-container img {
  width: 100px;
}

#map {
  width: 100vw;
  height: 100vh;
}

.timeline-container {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
.timeline-container:hover {
  background: rgba(255, 255, 255, 0.5);
}

#react-root {
  z-index: 1000;
  height: 100vh;
  overflow: scroll;
  position: absolute;
  right: 0;
  top: 0;
}